<header>
    <div class="container"> 
        <div class="row" id="profile">
            <div class="col-4 col-md-3 logo">
                <img (click)="stateBtn($event)" src="../../assets/img/logo-blanco-1.png" alt="" class="logo-header">
            </div>
            <div class="col col-md-8 info">
                <span class="displayName">{{ name }}</span>
                <!--Cargar imagen del usuario-->
                <img class="imagen" src="{{photo}}">
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col search d-flex justify-content-center">
        <input class="" type="text" placeholder="Search places..." [(ngModel)]="query" /> 
        <button (click)="places(query)">Search</button>
    </div>
  </div>
</div>

<div class="container mapa" #map ></div> 

<div class="row">
  <div class="col title-rutas d-flex justify-content-center">
    <span>RUTAS - ROUTES</span>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
        <label class="label-map">Start</label>
        <input class="start" type="text" [(ngModel)]="start" />
    </div>
  </div>
  <div class="row">
      <div class="col d-flex justify-content-center box-finish">
          <label class="label-map">Finish</label>
          <input type="text" [(ngModel)]="finish" />
      </div>
  </div>
</div>


<app-here-routing [start]="start" [finish]="finish" width="1080px" height="530px">

