<div id="login">
    <figure class="d-flex justify-content-center box-logo">
      <img src="../../assets/img/logo-blanco-1.png" class="logo-login" alt="logo">
    </figure>
    <h5 class="slogan-login">La ayuda que todo inmigrante necesita</h5>
  <div class="box-btn" >
    <div class="row">
        <div class="col d-flex justify-content-center">
            <span class="signIn">Inicie sesión con:</span>
        </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <!--boton de facebook-->
        <app-sign-in-with-fb></app-sign-in-with-fb>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <span class="option"> o </span>
    </div>
      <div class="row">
        <div class="col d-flex justify-content-center">
           <!--boton de google-->
          <app-sign-in-with-google></app-sign-in-with-google>
        </div>
      </div>
  </div> 
</div>