<header>
    <div class="container"> 
        <div class="row" id="profile">
            <div class="col-4 col-md-3 logo">
                <img (click)="stateBtn($event)" src="../../assets/img/logo-blanco-1.png" alt="" class="logo-header">
            </div>
            <div class="col col-md-8">
                <span class="displayName">{{ name }}</span>
                <!--Cargar imagen del usuario-->
                <img class="imagen" src="{{photo}}">
            </div>
        </div>
    </div>
</header>
<nav class="container">
    <div class="row">
        <div (click)="stateBtn($event, 'extranjeria')"  class="col d-flex align-items-center justify-content-center icon-menu btn">
            <div class="row">
                <i (click)="stateBtn($event)" class="fas fa-passport "></i>
            </div>
        </div>
        <div (click)="stateBtn($event, 'extranjeria')" class="col d-flex align-items-center justify-content-center icon-menu btn">
            <i class="fas fa-dollar-sign "></i>
        </div>
    </div>
    <div class="row">
        <div (click)="stateBtn($event, 'transporte')" class="col d-flex align-items-center justify-content-center icon-menu-two">
            <i class="fas fa-bus-alt"></i>
        </div>
        <div (click)="stateBtn($event, 'sapu')" class="col d-flex align-items-center justify-content-center icon-menu-two">
            <i class="fas fa-hospital-alt"></i>
        </div>
    </div>
    <div class="row">
        <div (click)="stateBtn($event, 'bolsaTrabajo')" class="col d-flex align-items-center justify-content-center icon-menu-three">
            <i class="fas fa-briefcase"></i>  
        </div>
        <div (click)="stateBtn($event, 'notaria')" class="col d-flex align-items-center justify-content-center icon-menu-three">
            <i class="fas fa-file-alt"></i>
        </div>
    </div> 
</nav>
  


    
   
