.head {
  background: #FFFFFF;
  height: 60px;
}

img.logo-header{
  width: 100%;
}

i{
  color:white;
  font-size: 6em; 
}

i:hover{
  color: rgb(169, 238, 243); 
}

.icon-menu {
  padding: 40px;
  border: 1px solid white;
}
.icon-menu-two {
  /* margin-top: 20px; */
  padding: 40px;
  border: 1px solid white;
}
.icon-menu-three {
  /* margin-top: 20px; */
  padding: 40px;
  border: 1px solid white;
}

.mapaHide{
  
}