/* -- Header --- */
img.imagen {
  width: 30px;
  border-radius: 50%;
}

header {
  background: #fff;
  padding: 8px 0;
  font-size: 16px;
}

header span {
  color: #5c5c5c;
  font-weight: bold;
}

header .logo {
  text-align: left;
}

header .logo img {
  height: 40px;
}

header div #profile {
  padding-top: 5px;
  text-align: right;
}

span.displayName {
  margin-right: 5px;
}

.info {
  padding-top: 6px;
}

/* -- MENÚ NAVEGACIÓN --*/

i{
  color:#FFFFFF;
  font-size: 4em; 
  width: 64px;
  height: 67px;
}

.icon-menu {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 5px;
  background-color: #4d2c91;
}

.icon-menu-one {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 5px;
  background-color: #4d2c91;
  margin-left: 2px;
}

.icon-menu-two {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 5px;
  background-color: #4d2c91;

}
.icon-menu-three {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 5px;
  background-color: #4d2c91;
  margin-left: 2px;
}
.icon-menu-four {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 5px;
  background-color: #4d2c91;
}
.icon-menu-five {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 5px;
  background-color: #4d2c91;
  margin-left: 2px;
}
.icon-menu-five:hover {
  background-color: #797979;
}
.icon-menu-four:hover {
  background-color: #797979;
}
.icon-menu-three:hover {
  background-color: #797979;
}
.icon-menu-two:hover {
  background-color: #797979;
}
.icon-menu-one:hover {
  background-color: #797979;
}
.icon-menu:hover {
  background-color: #797979;
}

.option{
  font-size: 1.5em;
  font-weight: 800;
  color: #4d2c91;
}

.title-menu {
  margin-left: 15px;
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
}

.title-menu-1 {
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
}
.title-menu-2{
  margin-left: 2px;
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 600;
  margin-top: 3px;
  text-align: center;
}
.title-menu-3{
  margin-left: 20px;
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 600;
  margin-top: 3px;
}

.icon {
  margin-left: 15px;
}

/*--MAPA --*/
.mapaHide{
  
}
