<mat-toolbar #tool (click)="stateBtn($event)" class='head'> 
    <H1>HELPO</H1>
  </mat-toolbar>
<div class="row justify-align-center">
    <div class="col-6 justify-align-center">
        <i (click)="stateBtn($event)" class="fas fa-passport"></i>
    </div>
    <div class="col-6 justify-align-center">
        <i class="fas fa-dollar-sign "></i>
    </div>
</div>
<div class="row justify-align-center">
    <div class="col-6 justify-align-center">
        <i class="fas fa-bus-alt"></i>
    </div>
    <div class="col-6 justify-align-center">
        <i class="fas fa-hospital-alt"></i>
    </div>
</div>
<div class="row justify-align-center">
    <div class="col-6 justify-align-center">
        <i class="fas fa-briefcase"></i>
    </div>
    <div class="col-6 justify-align-center">
        <i class="fas fa-file-alt"></i>
    </div>
</div>
    
   
