<div class="container">
    <header class='head d-flex justify-content-center'> 
        <img src="../../assets/img/logo-blanco-1.png" alt="" class="logo-header">
    </header>
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center icon-menu">
            <i (click)="stateBtn" class="fas fa-passport "></i>
        </div>
        <div class="col d-flex align-items-center justify-content-center icon-menu">
            <i class="fas fa-dollar-sign "></i>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center icon-menu-two">
            <i class="fas fa-bus-alt"></i>
        </div>
        <div class="col d-flex align-items-center justify-content-center icon-menu-two">
            <i class="fas fa-hospital-alt"></i>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center icon-menu-three">
            <i class="fas fa-briefcase"></i>  
        </div>
        <div class="col d-flex align-items-center justify-content-center icon-menu-three">
            <i class="fas fa-file-alt"></i>
        </div>
    </div>
</div>

    
   
