.mapa{
  display:none;
}
.container-fluid{
  background-color: azure;
  width: 1100px;
  display: flex;
  position: relative;
}
.head{
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  background-color: aquamarine;
}

.row{
  margin: 5%;
}

app-here-map{
  width: 1000px;
  height: 530px;
}