<app-login></app-login>
<!-- <router-outlet></router-outlet> -->
<!-- 
<body>
    <mat-toolbar class='head'>HELPO</mat-toolbar>
        <div class="container-fluid row justify-align-center">
                <div style="padding: 10px 0">
                    <input type="text" placeholder="Search places..." [(ngModel)]="query" />
                    <button (click)="map.places(query)">Search</button>
                  </div>
                  
                  <app-here-map #map lat="37.7397" lng="-121.4252" width="1080px" height="530px"></app-here-map>
            </div>
            
            
            <p>Ruta</p>
            <div style="padding: 10px 0">
              <div>
                  <label style="display: inline-block; width: 60px; color: #FFF">Start</label>
                  <input type="text" [(ngModel)]="start" />
              </div>
              <div>
                  <label style="display: inline-block; width: 60px; color: #FFF">Finish</label>
                  <input type="text" [(ngModel)]="finish" />
              </div>
            </div>
            <app-here-routing [start]="start" [finish]="finish" width="60%" height="530px">
             
            </app-here-routing>
</body>  -->

